<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.purplepeople.mapper.EmployeeMapper">

    <resultMap type="com.example.purplepeople.domain.Employee" id="result">
        <result property="empnum" column="empnum" />
        <result property="manager" column="manager" />
    </resultMap>

    <sql id="sql_select">
        SELECT
               a.manager
             , a.empnum
    </sql>

    <select id="getManager" resultMap="result">
        <include refid="sql_select"></include>
        FROM employee AS a
        WHERE a.empnum = #{empnum}
    </select>
</mapper>