<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.purplepeople.mapper.UserMapper">

    <resultMap type="com.example.purplepeople.domain.User" id="result">
        <result property="idx" column="idx" />
        <result property="empnum" column="empnum" />
        <result property="name" column="name" />
        <result property="telephone" column="telephone" />
        <result property="password" column="password" />
        <result property="access" column="access" />
        <result property="grant_emp" column="grant_emp" />
    </resultMap>

    <sql id="sql_select">
        SELECT
            a.idx
             , a.name
             , a.empnum
             , a.email
             , a.telephone
             , a.password
             , a.access
             , a.grant_emp
    </sql>

    <select id="getByEmpnum" resultMap="result">
        <include refid="sql_select"></include>
        FROM user AS a
        WHERE a.empnum = #{empnum}
    </select>

    <select id="getByName" resultMap="result">
        <include refid="sql_select"></include>
        FROM user AS a
        WHERE a.name = #{name}
    </select>

    <insert id="register" parameterType="com.example.purplepeople.domain.User"
            keyProperty="idx">

        INSERT INTO user
        (
              idx
            , empnum
            , email
            , name
            , telephone
            , password
        )
        VALUES
        (
              #{idx}
            , #{empnum}
            , #{email}
            , #{name}
            , #{telephone}
            , #{password}
        )
    </insert>

    <select id="login" resultMap="result">
        <include refid="sql_select"></include>
        FROM user AS a
        WHERE a.empnum = #{empnum}
    </select>

    <update id="accessEdit" parameterType="map"
            keyProperty="idx">
        UPDATE user set access = #{key}
        WHERE empnum = #{empnum}
    </update>

</mapper>